html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    overflow-x: hidden;
}

/* Portrait enforcement */
@media screen and (orientation: landscape) {
    body::before {
        content: "Please rotate your device to portrait mode";
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top:0; left:0;
        width: 100vw;
        height: 100vh;
        background: black;
        color: white;
        font-size: 2rem;
        z-index: 9999;
        text-align: center;
    }
    body > * { display: none; }
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: black;
    color: white;
}

button {
    background: none;
    border: 1px solid #aaa;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
}
